<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Please create appropriate wikis. The creation of inappropriate wikis will result in being banned from the site.</li>
      <li>Always fact check!</li>
      <li>It's always helpful to site you resources.</li>
      <li>Here is a
        <%= link_to "quick reference", "https://en.support.wordpress.com/markdown-quick-reference", :target => "_blank" %>
        for using markdown syntax.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
