<h1>Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
    <% if wiki.private == false || (wiki.private == true && wiki.user == current_user) %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="col-md-4 center-align">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
  <% if current_user.standard? %>
  <h5>If you would like to create private wikis,
    <%= link_to "upgrade", new_charge_path %>
    your account to Premium!</h5>
  <% end %>
</div>
